{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container-fluid">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/9227955/pexels-photo-9227955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" style="height: 400px; width: 100%; object-fit: cover;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.pexels.com/photos/8093182/pexels-photo-8093182.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" style="height: 400px; width: 100%; object-fit: cover;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.pexels.com/photos/1362534/pexels-photo-1362534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" style="height: 400px; width: 100%; object-fit: cover;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<br />
    <br />

     <div class="container text-center">
         <h3>It started with a simple idea: Create quality, well-designed products that I wanted myself.</h3>
         <br>
         <div class="row">
             <div class="col-sm-4">
                 <a href="#">
                     <img src="https://images.pexels.com/photos/1362534/pexels-photo-1362534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
                 </a>
                 <h2>Shop Men's Collection</h2>

             </div>
             <div class="col-sm-4">
                 <a href="#">
                     <img src="https://images.pexels.com/photos/9227955/pexels-photo-9227955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
                 </a>
                 <h2>Shop Women's Collection</h2>

             </div>
             <div class="col-sm-4">
                 <a href="#">
                     <img src="https://images.pexels.com/photos/8093182/pexels-photo-8093182.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
                 </a>
                 <h2>Shop Kid's Collection</h2>

             </div>
         </div>
     </div>
     <br />
     <div class="container text-center">
         <h3>Trusted Partners</h3>
         <br>
         <div class="row">
             <div class="col-sm-1"></div>
             <div class="col-sm-2">
                 <img src="https://images.pexels.com/photos/1362534/pexels-photo-1362534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
             </div>
             <div class="col-sm-2">
                 <img src="https://images.pexels.com/photos/9227955/pexels-photo-9227955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
             </div>
             <div class="col-sm-2">
                 <img src="https://images.pexels.com/photos/1362534/pexels-photo-1362534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
             </div>
             <div class="col-sm-2">
                 <img src="https://images.pexels.com/photos/1362534/pexels-photo-1362534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
             </div>
             <div class="col-sm-2">
                 <img src="https://images.pexels.com/photos/9227955/pexels-photo-9227955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-responsive" style="width: 100%" alt="Image" />
             </div>
             <div class="col-sm-1"></div>
         </div>
     </div>



{% endblock body %}
